{% extends 'base.html' %}
{% load staticfiles %}
{% block adcontent %}
{% include 'ad.html' %}
{% endblock %}
{% block articleslist %}
{% include 'tagarticleslist.html' %}
{% endblock %}
{% block pagination %}
{% include 'pagination.html' %}
{% endblock %}
{% block atentionme %}
{% include 'me.html' %}
{% endblock %}
{% block moreSelect %}
{% include 'select.html' %}
{% endblock %}
{% block labellist %}
{% include 'labellist.html' %}
{% endblock %}
{% block archivelist %}
{% include 'archivelist.html' %}
{% endblock %}
{% block linklist %}
{% include 'links.html' %}
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
